<?xml version="1.0" encoding="UTF-8"?>
<org.isistan.flabot.trace.config:TraceConfiguration xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:org.isistan.flabot.trace.config="http:///org/isistan/flabot/trace/config.ecore">
  <contexts name="Example context">
    <parameters key="filter" value="org\.isistan\.flabot\.example\..*"/>
  </contexts>
</org.isistan.flabot.trace.config:TraceConfiguration>
