@echo off
rem $Id: ClassPath.bat.tmpl,v 1.4 2002/05/10 19:17:43 azunino Exp $

set CLASSPATH=%javalog.dir%\classes;%jgl.dir%\lib\jgl3.1.0.jar;%javalog.dir%\lib\antlrall.jar;%javalog.dir%\lib\gnu-regexp-1.1.4.jar;%jsdk.dir%\lib\servlet.jar;%CLASSPATH%
